#main-container{
    background-color: antiquewhite;
}
#div1{
    background-color: aqua;
    height: 25%;
    width: 30%;
}

#div2{
    background-color: aqua;
    height: 44%;
    width: 21%;
    
}
